<?xml version="1.0"?>
<config>
    <modules>
        <KutybaIt_AutomaterPl>
            <version>0.1.3</version>
        </KutybaIt_AutomaterPl>
    </modules>
    <global>
        <models>
            <automaterpl>
                <class>KutybaIt_AutomaterPl_Model</class>
                <resourceModel>kutybait_automaterpl_resource</resourceModel>
            </automaterpl>
            <automaterpl_resource>
                <class>KutybaIt_AutomaterPl_Model_Resource</class>
            </automaterpl_resource>
        </models>
        <blocks>
            <automaterpl>
                <class>KutybaIt_AutomaterPl_Block</class>
            </automaterpl>
        </blocks>
        <helpers>
            <automaterpl>
                <class>KutybaIt_AutomaterPl_Helper</class>
            </automaterpl>
        </helpers>
        <resources>
            <automaterpl_setup>
                <setup>
                    <module>KutybaIt_AutomaterPl</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </automaterpl_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <createTransaction>
                        <class>KutybaIt_AutomaterPl_Model_Observer</class>
                        <method>createTransaction</method>
                    </createTransaction>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_pay>
                <observers>
                    <payTransaction>
                        <class>KutybaIt_AutomaterPl_Model_Observer</class>
                        <method>payTransaction</method>
                    </payTransaction>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <KutybaIt_AutomaterPl>
                    <files>
                        <default>KutybaIt_AutomaterPl.csv</default>
                    </files>
                </KutybaIt_AutomaterPl>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <automaterpl translate="title" module="automaterpl">
                                            <title>Automater.pl Settings</title>
                                        </automaterpl>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <KutybaIt_AutomaterPl>
                    <files>
                        <default>KutybaIt_AutomaterPl.csv</default>
                    </files>
                </KutybaIt_AutomaterPl>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <automaterpl_synchronize_inventory>
                <run>
                    <model>automaterpl/inventory_synchronizer::synchronizeInventory</model>
                </run>
            </automaterpl_synchronize_inventory>
        </jobs>
    </crontab>
    <default>
        <automaterpl>
            <inventory_synchronization>
                <active>1</active>
                <interval>30</interval>
            </inventory_synchronization>
        </automaterpl>
        <crontab>
            <jobs>
                <automaterpl_synchronize_inventory>
                    <schedule>
                        <cron_expr>*/30 * * * *</cron_expr>
                    </schedule>
                </automaterpl_synchronize_inventory>
            </jobs>
        </crontab>
    </default>
</config>